<h2 class="title">Пользователи</h2>

<% if @users.empty? %>

<article class="message is-warning">
  <div class="message-header">
    <p>В системе нет пользователей.</p>
  </div>
</article>

<% end %>

<p><%= link_to 'Создать пользователя', new_user_path, class: "button is-link" %></p>

<hr>

<%= will_paginate %>

<%= render @users %>

<%= will_paginate %>
