<% if target.errors.any? %>

<article class="message is-danger">
  <div class="message-header">
    <p>Ошибки:</p>
  </div>
  <div class="message-body">
    <ul>
    <% target.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
</article>

<% end %>