<% if target.errors.any? %>
<div class="notification is-danger">
  <h4 class="title is-4">Ошибки:</h4>
  <ul>
  <% target.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>