  <section class="section">
    <div class="container">
      <hr>
      <strong>2019 &copy; PureUsers Panel</strong> &mdash; панель управления пользователями<br><strong>Автор:</strong> @krdprog (MIT License)
    </div>
  </section>